/* ==========================================================================
   Base
   ========================================================================== */

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans';
	height: 100%;
	background-color: #f6f6f6;
	color: #333;
	font-size: map-get($fontsize, base);
	line-height: 1.5rem;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	color: $remio-black;
	letter-spacing: 1px;
}

label {
	display: block;
	color: $remio-white;
	line-height: 1.5em;
}

input, textarea {
	display: block;
	border: 1px solid #333;
	width: 100%;
	font-size: map-get($fontsize, base);
	font-family: 'Open Sans';
	margin-bottom: 1em;
	-webkit-appearance: none;
	padding: .5em;
	box-sizing: border-box;
}

textarea {
	height: 16em;
}

button, .button {
	border: 1px solid $remio-white;
	padding: 1em;
	color: $remio-white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 100%;
	display: block;
	transition: border 400ms, color 400ms;
	background-color: transparent;
	margin: 1em auto;
}

.button {
	font-size: 11px;
	padding: 11px;
	line-height: normal;
	box-sizing: border-box;
}

@media only screen and (min-width: 30em) {

	button, .button {
		width: 8em;
	}

}

button:hover, .button:hover {
	border: 1px solid $remio-lightblue;
	color: $remio-lightblue;
	transition: border 400ms, color 400ms;
}

/* ==========================================================================
   Layout
   ========================================================================== */

#wrapper {
	min-height: 100%;
}

section {
	padding: 4em 0;
	box-sizing: border-box;
	min-height: 100%;
}

@media only screen and (min-width: 75em) {

	section {
		max-height: 1200px;
		// height: 100%;
	}

}

section:first-child {
	margin-top: 0;
	padding-top: 0;
}

.container {
	@include container(75em);
	margin: 0 auto;
}

#header .container {
	/*margin-top: 0;*/
}

#footerwrapper {
	height: 3.25em;
}

.l-3-cols .column {
	@include span(4 of 12);
}

/* ==========================================================================
   Modules
   ========================================================================== */

/* Branding */

.logo-wrapper:hover {
	background: transparent !important;
}

.logo {
	text-indent: -9999px;
	background: url(../img/logo.svg) no-repeat;
	height: 147px;
	width: 147px;
	display: block;
	margin: 4em auto 2em;
	background-size: 147px 147px;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bebas';
	font-size: map-get($fontsize, xxlarge);
	margin: 0;
	color: #fff;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	line-height: 1em;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bebas';
	font-size: map-get($fontsize, large);
	line-height: 2rem;
}

.intro {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bebas';
	font-size: map-get($fontsize, xxlarge);
	margin: 0;
	color: #fff;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	line-height: 1em;
}

@media only screen and (min-width: 30em) {

	h1, .intro {
		font-size: 5.996em;
	}

	h2, .tagline {
		font-size: map-get($fontsize, xlarge);
	}

}

.tagline {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bebas';
	font-size: map-get($fontsize, large);
	margin: 1em 0 0;
	color: #fff;
	line-height: 1em;
}

#about {
	color: #333;
	background: url(../img/stardust.png) repeat;
	color: #fff;

}

#about h2, #about .main, #about aside {
	@include span(12 of 12);
}

#about h2 {
	font-family: 'Open Sans';
	text-transform: none;
	font-weight: normal;
	color: #fff;
	line-height: 2.5rem;
	text-align: center;
}

#about .main {
	font-family: 'Open Sans';
	font-size: map-get($fontsize, base);
}

#about aside {
	font-size: map-get($fontsize, small);
	line-height: 1rem;
	margin-top: 1.75em;
}

@media only screen and (min-width: 30em) {

	#about h2 {
		@include span(6 of 12);
		@include pre(3);
		@include post(3);
	}

	#about .main {
		@include span(6 of 12);
		@include post(2);
	}

	#about aside {
		@include span(2 of 12);
		@include pre(1);
		text-align: right;
	}
}

/* Header */

#header {
	background: url(../img/bg-min.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  min-height: 100%;
	  width: 100%;
	  max-height: 1200px;
	  box-shadow: 0px 2000px rgba(237, 153, 44, 0.7) inset;
}

#header.bg-purple {
	box-shadow: 0px 2000px rgba(44, 22, 43, 0.8) inset;
}

#header.bg-lightblue {
	box-shadow: 0px 2000px rgba(179, 206, 216, 0.5) inset;
}

#header.bg-tiled {
	background-repeat: repeat;
	-webkit-background-size: auto;
	  -moz-background-size: auto;
	  -o-background-size: auto;
	  background-size: auto;
}

#header.bg-connect {
	background-image: url('../img/connect.png');
}

#header.bg-gplay {
	background: url('../img/gplaypattern.png') repeat;
}

.flexbox #header {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header nav ul {
	margin: 0;
	padding: 0;
}

#header header {
	margin-top: -4em;
}

.content {
	@include span(12 of 12);
}

@media only screen and (min-width: 30em) {

	.content {
		@include span(8 of 12);
		@include pre(2);
		@include post(2);
	}

}

/* Details */

#details {

	li {
		@include gallery(4 of 12);
		list-style: none;
	}
}


/* Clients */

#portfolio {
	min-height: initial;
	height: initial;
}

.clients {
	padding: 4em 0;
}

.clients ul {
	@include span(12 of 12);
}

.clients li {
	list-style: none;
}

@media only screen and (max-width: 30em) {

	.clients li {
		@include gallery(6 of 12);
		margin-bottom: gutter(12);
	}

}

@media only screen and (min-width: 30em) {

	.clients ul {
		@include gutter(12);
	}

    .clients li {
		@include gallery(2 of 12);
		margin-bottom: gutter(12);
	}

}

.clients img {
	background-color: #fff;
	border: 1px solid #ededed;
}

/* Case study */

#case {
	background: url('../img/gplaypattern.png') repeat;
	box-shadow: 0px 2000px rgba(179, 206, 216, 0.5) inset;
	padding: 8em 0;
	box-sizing: border-box;
}

.case-study {
	.case-info, .case-image {
		@include span(12 of 12);
	}
}

@media only screen and (min-width: 30em) {

	.flexbox .case-study {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.case-study.left {

		h2 { text-align: right; }

		.case-info {
			text-align: right;
			@include span(4 of 12);
			@include pre(2);
		}

		.case-image {
			@include span(4 of 12 last);
			@include post(2);
			margin-top: 1.5em;
		}

		button {
			float: right;
		}

	}

	.case-study.right {

		h2 { text-align: left; }

		.case-info {
			text-align: left;
			@include span(4 of 12 last);
			@include post(2);
		}

		.case-image {
			@include span(4 of 12);
			@include pre(2);
			margin-top: 1.5em;
		}

		button {
			float: left;
		}

	}

} // @media: case studies

#pythio {
	background: url('../img/connect.png') repeat;
	box-shadow: 0px 2000px rgba(44, 22, 43, 0.8) inset;
	padding: 8em 0;
	box-sizing: border-box;
	color: #fff;

	h2 {
		color: #fff;
	}
}

/* Footer */

#subfooter {
	min-height: 2.5em;
	background-color: #000;
	// border-bottom: 5px solid #ed992c;
	color: $remio-white;
}

#subfooter p {
	margin: 0;
	padding: 1.5em;
	font-family: 'Open Sans';
	font-size: .75em;
	text-transform: uppercase;
}

/************************************************
    Contact
************************************************/

.contact {
	background: url(../img/4FD7DE07B0min.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  width: 100%;
	box-shadow: 0px 2000px rgba(0, 0, 0, 0.5) inset;
	color: #fff;
	padding: 4em 0;
	box-sizing: border-box;
}

.contact form {
	@include span(12 of 12);
}

@media only screen and (min-width: 30em) {

	.contact form {
		@include pre(3);
		@include post(3);
		@include span(6 of 12);
	}

}

.contact a {
	text-decoration: none;
	color: $remio-white;
	font-size: .9em;
}

.contact h2 {
	color: $remio-white;
}

.contact .fa {
	margin-right: 1em;
}


.cd-nav-trigger {
	display: block;
	color: #fff;
	text-indent: -9999px;
	background: url('../img/menu.svg') no-repeat center;
	background-size: 1.5em 1.5em;
	position: fixed;
	top: 0;
	left: 0;
	width: 51px;
	height: 51px;
	transition: background-color .5s;
}

.cd-nav-trigger:hover, .cd-nav-trigger:focus {
	background-color: #000;
	transition: background-color .5s;
}

#cd-nav.expanded .cd-nav-trigger {
	background: url('../img/close.svg') no-repeat center;
	background-size: 1.5em 1.5em;
}

#cd-nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #222;
	color: #fff;
	display: block;
	font-family: 'Open Sans';
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: opacity 0.5s, visibility 0s 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;

	nav {
		background-color: #222;
	}

	.container > ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 2em;
		@include span(4 of 12);
	}

	nav ul:first-child {
		@include pre(2);
		text-align: right;

		h2 { text-align: right; }
	}

	.container > ul:last-child {
		@include post(2);
	}

	li {
		padding: .5em 0;
		width: 100%;
	}

	h2 {
		color: #fff;
		text-align: left;
		font-family: 'Open Sans';
		text-transform: none;
	}

	.social {
		width: 50%;
		text-align: center;
		margin: 2em auto 0;
	}

	.flex .social ul {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.social li {
		display: inline-block !important; //ew
		width: auto;
	}

	a:link, a:visited {
		color: #fff;
		text-decoration: none;
		height: 35px;
		width: 35px;
		padding: .5em;
		transition: background-color .4s cubic-bezier(.1,.7,.3,1);
	}

	a:hover {
		background-color: #444;
		transition: background-color .4s cubic-bezier(.1,.7,.3,1);
	}

	#cd-main-nav {
		margin-top: 2em;
		/*display: none;*/
		transition: all .4s cubic-bezier(.1,.7,.3,1);
	}

	#cd-main-nav.expanded {
		display: block;
		transition: all .4s cubic-bezier(.1,.7,.3,1);
	}
}

#cd-nav.expanded {
	transition: all .4s cubic-bezier(.1,.7,.3,1);
	width: 100%;
	height: 100%;
	opacity: .95;
	visibility: visible;
}

@media only screen and (max-width: 30em) {

	#cd-nav {

		h2 {
			margin-bottom: .5em;
		}

		.logo {
			margin: -2em auto 0;
			height: 96px;
			width: 96px;
			background-size: 96px 96px;
		}
		.container > ul {
			list-style: none;
			margin: 0;
			padding: 0 0 0 2em;
			@include span(6 of 12);
		}

		nav ul:first-child {
			margin: 0;
			text-align: right;

			h2 { text-align: center; }
		}

		.container > ul:last-child {
			margin: 0;
			h2 {text-align: center;}
		}

		nav li {
			box-sizing: border-box;
		}

		.social p {
			display: none;
		}
	}

	#cd-nav.expanded {
		width: 100%;
		height: 100%;
		opacity: .95;
	}

	#cd-nav.expanded ul {
		margin: 0;
		padding: 0;
	}

	#cd-nav li {
		width: 100%;
		text-align: left;
		padding: 0;
	}

	#cd-nav li:first-child a:link {
		border-top: 2px solid #333;
	}

	#cd-nav li a:link {
		display: block;
		width: 100%;
		// padding: 1em;
		// box-sizing: border-box;
	}

}
