<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!-- <div id="wrapper"> -->
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="clearfix">
            <div class="container">
                <header>
                    <span class="logo wow fadeInDown" data-wow-duration="1s">Kapuhonu</span>
                    <p class="intro">We are</p>
                    <h1>Kapuhonu</h1>
                    <p class="tagline">Clever code for a complex world</p>
                    <div id="cd-nav">
                        <a href="#" class="cd-nav-trigger">Menu<span></span></a>

                        <nav id="cd-main-nav">
                            <ul>
                                <li><a href="#about">About</a></li>
                                <li><a href="#case">Case Studies</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>