<a href="#" class="cd-nav-trigger">Menu<span></span></a>
<div id="cd-nav">
    <a href="#" class="cd-nav-trigger">Menu<span></span></a>
    <nav id="cd-main-nav">
        <a href="/" class="logo-wrapper"><span class="logo">Kapuhonu</span></a>
        <div class="container">
            <ul>
                <h2>Company</h2>
                <li><a href="/about.html">About Kapuhonu</a></li>
                <li><a href="/certifications.html">Certifications</a></li>
                <li><a href="/contact.html">Contact Us</a></li>
                <!-- <li><a href="#">Blog</a></li> -->
            </ul>
            <ul>
                <h2>Services</h2>
                <li><a href="/services/web-design.html">Web Design</a></li>
                <li><a href="/services/webapp-development.html">Webapp Development</a></li>
                <li><a href="/services/salesforce-custom-development.html">Salesforce Custom Development</a></li>
                <li><a href="/services/salesforce-platform-development.html">Salesforce Platform Development</a></li>
            </ul>
        </div>
        <div class="social">
            <p><small>Come Be Social</small></p>
            <ul>
                <li><a href="http://www.twitter.com/kapuhonu"><span class="icon-twitter"></span></a></li>
                <li><a href="http://www.github.com/kapuhonu"><span class="icon-github-circled"></span></a></li>
                <li><a href="https://www.linkedin.com/company/kapuhonu-web-design-&-development"><span class="icon-linkedin"></span></a></li>
            </ul>
        </div>
    </nav>
</div>