{% include header.html %}
<section id="about">
	<h2>Kapuhonu specializes in web architecture of all sizes. We're a small team with big heart.</h2>
</section>
<section class="team" id="team">
	<div class="container">
		<h2>Who We Are</h2>
		<ul class="clearfix wow fadeInDown">
			<li>
				<img src="/img/chuck.jpg" alt="">
				<h3 class="name">Chuck Liddell</h3>
				<span class="title">Founder</span>
			</li>
			<li>
				<img src="/img/matt.jpg" alt="">
				<h3 class="name">Matt Chinnock</h3>
				<span class="title">Web Developer</span>
			</li>
			<li>
				<img src="/img/nate.jpg" alt="">
				<h3 class="name">Nathan Phillips</h3>
				<span class="title">Web Developer</span>
			</li>
		</ul>
	</div>
</section>
<section class="clients" id="portfolio">
	<div class="container">
		<h2>Who We've Worked With</h2>
		<ul class="clearfix">
			<li><img src="http://placehold.it/600x250" alt=""></li>
			<li><img src="http://placehold.it/600x250" alt=""></li>
			<li><img src="http://placehold.it/600x250" alt=""></li>
			<li><img src="http://placehold.it/600x250" alt=""></li>
		</ul>
	</div>
</section>
<section class="contact" id="contact">
	<div class="container">
		<h2>How can we help?</h2>
		<form accept-charset="UTF-8" action="https://formkeep.com/f/8ed84856e081" method="POST">
		  <input type="hidden" name="utf8" value="✓">
		  <label for="name">Name</label>
		  <input type="text" name="name">
		  <label for="email">Email</label>
		  <input type="email" name="email">
		  <label for="message">Message</label>
		  <textarea name="message"></textarea>
		  <button type="submit">Submit</button>
		</form>
	</div>
</section>
{% include footer.html %}