{% include header.html %}
<section id="about" class="clearfix">
	<div class="container">
		<h2>Kapuhonu specializes in web architecture of all sizes. We're a small team with big heart.</h2>
		<aside class="wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
			We're straight shooters who solve hard problems. We are designers, developers, educators, and technologists. Collectively, we've lived in four countries and twenty five cities. We've helped reinvent the ice industry in Africa, taught sailing lessons, traveled the country in trains, planes, and automobiles, and performed onstage for hundreds of people, to name just a few. You could say we're unique.
		</aside>
		<div class="main">
			<p>In business since 2003, KapuHonu has grown from an exclusive focus on website design and construction to a full-fledged enterprise level consultant on end-to-end technology architectures for systems small and large. We specialize in building complete applications in the cloud with no on-premise infrastructure required. We have especially deep experience with Salesforce and the Force.com platform, with every member of our team holding at least one Salesforce certification and some as many as six. We deliberately keep our team small to foster a strong sense of community and camaraderie that translates into strong client relationships.</p>

			<p>Our current clients are disparate in geography, size, and ambition but share one thing in common: they are well taken care of. We pride ourselves on our communication skills just as much as our deep technical chops. It is not unusual for us to be hired simply to help distill complex ideas and systems into manageable blocks that can be discussed by technical and non-technical folks alike. We have developed a reputation not only for being very good at what we do but also for our deep integrity, openness, and honesty. We choose our clients as much as they choose us.</p>
		</div>
	</div>
	<!-- <p>We have a lot of experience, both in the world of technology and the world at large. We're here to help.</p> -->
</section>
<section class="projects clearfix">
	<div class="container">
	<h2>Case Studies</h2>
		<ul>
			<li class="wow fadeInLeft">
				<div class="project">
					<h3>Web Design</h3>
					<div class="container">
						<div class="project__info">
						<h4>Build your web a better way.</h4>
							<p>Kapuhonu collaborated with Pythio Ltd to offer a product line of GSM-based telemetry, monitoring & remote management, and fully integrated microcontroller-based solutions.</p>
						</div>
					</div>
					<a href="/web-design.html" class="button">Learn More</a>
				</div>
			</li>
			<li class="wow fadeInRight">
				<div class="project">
					<h3>App Development</h3>
					<div class="container">
						<div class="project__info">
						<h4>We have the technology.</h4>
							<p>Kapuhonu collaborated with Pythio Ltd to offer a product line of GSM-based telemetry, monitoring & remote management, and fully integrated microcontroller-based solutions.</p>
						</div>
					</div>
					<a href="/webapp-development.html" class="button">Learn More</a>
				</div>
			</li>
			<li class="wow fadeInLeft">
				<div class="project">
					<h3>Salesforce Custom Development</h3>
					<div class="container">
						<div class="project__info">
						<h4>Know your data.</h4>
							<p>Kapuhonu collaborated with Pythio Ltd to offer a product line of GSM-based telemetry, monitoring & remote management, and fully integrated microcontroller-based solutions.</p>
						</div>
					</div>
					<a href="/salesforce-custom-development.html" class="button">Learn More</a>
				</div>
			</li>
			<li class="wow fadeInRight">
				<div class="project">
					<h3>Salesforce Platform Development</h3>
					<div class="container">
						<div class="project__info">
						<h4>Build a community.</h4>
							<p>Kapuhonu collaborated with Pythio Ltd to offer a product line of GSM-based telemetry, monitoring & remote management, and fully integrated microcontroller-based solutions.</p>
						</div>
					</div>
					<a href="/salesforce-platform-development.html" class="button">Learn More</a>
				</div>
			</li>
		</ul>
	</div>
</section>
<section id="case" class="case-study left">
	<div class="container">
		<div class="case-info wow fadeInLeft">
			<h2>Forecast: Cloudy</h2>
			<p>Our team specializes in cloud infrastructure products such as Salesforce, Heroku, and AWS. We efficiently scaffold out the needs of your web system while keeping costs to a minimum.</p>
			<a href="/services/salesforce-custom-development.html" class="button">Read More</a>
		</div>
		<div class="case-image wow fadeInRight">
			<img src="/img/salesforce-browser-min.png" alt="Salesforce">
		</div>
	</div>
</section>
<section id="pythio" class="case-study right">
	<div class="container">
		<div class="case-image wow fadeInLeft">
			<img src="/img/pythio-browser-min.png" alt="Pythio">
		</div>
		<div class="case-info wow fadeInRight">
			<h2>Worldwide Connectivity</h2>
			<p>Kapuhonu collaborated with Pythio Ltd to offer a product line of GSM-based telemetry, monitoring & remote management, and fully integrated microcontroller-based solutions to deliver a sophisticated and comprehensive remote management experience that abstract hardware and software complexities.</p>
			<a href="/services/webapp-development.html" class="button">Read More</a>
		</div>
	</div>
</section>
<!-- <section class="clients" id="portfolio">
	<div class="container">
		<h2>Clients</h2>
		<ul class="clearfix wow fadeIn">
			<li><img src="/img/glasspanel.png" alt="Glasspanel"></li>
			<li><img src="/img/gamemechanics-min.png" alt="Game Mechanics"></li>
			<li><img src="/img/trainingrevelations-min.png" alt="Training Revelations"></li>
			<li><img src="/img/pythio-min.png" alt="Pythio"></li>
			<li><img src="/img/akoona-min.png" alt="Akoona"></li>
			<li><img src="/img/tasc-min.png" alt="The Alliance for Solar Choice"></li>
		</ul>
	</div>
</section> -->
<section class="contact" id="contact">
	<div class="container">
		<h2>At Your Service</h2>
		<form accept-charset="UTF-8" action="https://formkeep.com/f/2530a226a253" method="POST">
		  <input type="hidden" name="utf8" value="✓">
		  <label for="name">Name</label>
		  <input type="text" name="name">
		  <label for="email">Email</label>
		  <input type="email" name="email">
		  <label for="message">Message</label>
		  <textarea name="message"></textarea>
		  <button type="submit">Submit</button>
		</form>
	</div>
</section>
{% include footer.html %}